/* Global styles for all <option> elements */
option {
    padding: 8px; /* Custom padding */
    background-color: #f1f1f1; /* Light grey background */
    color: #333; /* Dark text color */
    height: 40px; /* Height of the option */
    width: 100%; /* Make sure the option fills the select box */
  }